{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>

<body class="bg-gray-50">
<div class="bg-white">
    <nav class=" border-gray-200 ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#">
                <img src="{% static 'images/logo.png' %}" class="h-20 mr-3" alt="JournalEase logo" />
            </a>
            <div class="md:block md:w-auto">
                <ul class="font-medium flex p-4 md:p-0 mt-4  border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  ">
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 hover:text-[#1aa9b1] rounded  text-gray-900">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 mb-2 text-white border-2 border-red-500  hover:bg-red-500 rounded-lg bg-red-500 hover:text-red-100 ">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-20 items-center justify-center flex-col">
            <img alt="hero" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover  object-center rounded" src="{% static 'images/animation.svg' %}">
            <div class="text-center lg:w-2/3 w-full">
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">Web Diary</h2>
                <h3 class="sm:text-2xl  text-xl">Your Story. Our Diary.</h3>
                <div class="pt-4">
                    <a href="#"  class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-gray-900 hover:text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 "> Add Entry
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="ml-1" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
    <section class="pt-4" >
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">Our Diary</h2>
                <p class="font-light text-gray-500 sm:text-xl ">From Memories to Momentum: Reflect on Your Previous Diaries or Create New Ones</p>
            </div>
            <div class="grid gap-8 lg:grid-cols-2">
                <div class="p-6 bg-white rounded-lg border border-gray-200 shadow-md ">
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="bg-primary-100 uppercase tracking-tight let text-primary-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded ">MOOD
                        </span>
                        <span class="text-sm">15 April, 2023</span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "><a href="#"></a> Unveiling the Hidden Gems of My Life</h2>
                    <p class="mb-5 font-light text-gray-600 ">In this diary, I'll share the stories ofthe unconventional choices I've made, the people I've met, the lessons I've learned, and the joys and struggles I've encountered along the way.</p>
                    <a href="#" class="inline-flex items-center font-medium text-primary-600  hover:underline underline-offset-4">Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-6 bg-white rounded-lg border border-gray-200 shadow-md ">
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="bg-primary-100 uppercase tracking-tight text-primary-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded ">Title
                        </span>
                        <span class="text-sm">15 April, 2023</span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "><a href="#">Navigating Life's Twists and Turns</a></h2>
                    <p class="mb-5 font-light text-gray-600 ">In this diary, I'm capturing my journeythrough life's twists and turns. It's a chronicle of my resilience, my growth, and my unwaveringspirit in the face of challenges.</p>
                    <a href="#" class="inline-flex items-center font-medium text-primary-600  hover:underline underline-offset-4">  Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-6 bg-white rounded-lg border border-gray-200 shadow-md ">
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="bg-primary-100 uppercase tracking-tight let text-primary-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded "> Title
                        </span>
                        <span class="text-sm">15 April, 2023</span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "><a  href="#">Navigating Life's Twists and Turns</a></h2>
                    <p class="mb-5 font-light text-gray-600 "> In this diary, I'm embarking on a journey of unveiling the hidden gems of my life, those precious moments that often go unnoticed but hold immeasurable value. </p>
                    <a href="#" class="inline-flex items-center font-medium text-primary-600  hover:underline underline-offset-4"> Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div
                    class="p-6 bg-white rounded-lg border border-gray-200 shadow-md ">
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="bg-primary-100 uppercase tracking-tight  text-primary-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded ">Title</span>
                        <span class="text-sm">15 April, 2023</span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "><a href="#">Overcoming Challenges and Finding Strength</a></h2>
                    <p class="mb-5 font-light text-gray-600 ">Dear Diary,  Life is full of challenges that test our resilience, strength, and determination. It's during  these tough times that we often discover our true inner power.</p>
                    <div class="flex justify-between items-center">
                        <a href="#" class="inline-flex items-center font-medium text-primary-600  hover:underline underline-offset-4"> Read more
                            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"  clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="bg-[#455A64] text-white h-16 mt-16 w-auto flex flex-row justify-center items-center">
            <span class="">@ 2023 Copyright: JournalEase.com</span>
        </div>
    </footer>
</body>
</html>
<!-- #27F4FF -->